.wrapper {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 1em;
    grid-auto-rows: 100px;
    grid-template-areas:
      "b b b . . . . . . . . . . . . . . c c c"
      "b b b . . a a a a a a a a a a . . c c c"
      "b b b . . a a a a a a a a a a . . . . ."
      "b b b . . a a a a a a a a a a . . . . ."
      "b b b . . a a a a a a a a a a . . . . ."
      "b b b . . . . . . . . . . . . . . . . ."
      "b b b . . . . . . . . . . . . . . . . .";
}

.cabecera {
    grid-area: a;
}
